.board {
    margin: 2rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  align-items: center;
}


.title {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    line-height: 23.68px ;
    
}

.moreInfo {
    margin-left: auto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
