.storeAlbum {
    width: 100%;
    height: 350px;
    text-align: start;

}

.store {
    width: 100%;
    height: 178px;
    background-color: #2A2D3B;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 768px) {
        /* 화면 너비가 768px 이상인 경우 */
        width: 278px; /* 원하는 너비(예: 80%)로 설정 */
      }

      @media screen and (min-width: 1024px) {
        /* 화면 너비가 1024px 이상인 경우 */
        width: 378px; /* 원하는 너비(예: 60%)로 설정 */
      }
   
    
}

.img {
    width: 100%;
    height: 100%;
    object-fit: "cover";
}

.label {
    padding: 1rem 1rem;
    padding-bottom: 32px;
}

.title {
    
    font-size: 14px;
    color: #111111;
    font-weight: 400;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0.5rem;

    @media screen and (min-width: 768px) {
        /* 화면 너비가 768px 이상인 경우 */
        width: 278px; /* 원하는 너비(예: 80%)로 설정 */
      }

      @media screen and (min-width: 1024px) {
        /* 화면 너비가 1024px 이상인 경우 */
        width: 378px; /* 원하는 너비(예: 60%)로 설정 */
      }

}

.description {
    font-weight: 400;
    font-size: 12px;
    line-height: 17.76px;
    color: #767676;
    


}

.tags {
    margin-top: 0.1rem;
}

.tag {
    font-size: 12px;
    font-weight: 400;
    color: #1A93FE;
}