.cardnews-list {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 2.5rem;
    
  }

  .cardnews-list::-webkit-scrollbar {
    display: none;
  }

  